.card-container
  position: relative
  display: flex
  //align-self: auto
  flex-direction: column
  //width: 302px
  box-sizing: border-box
  overflow: hidden
  background: #FFFFFF
  outline: 1px solid #F0F0F0
  border-radius: 12px


.red-sign
  position: absolute
  top: 20px
  left: 0
  width: 65px
  height: 32px
  border-top-right-radius: 6px
  border-bottom-right-radius: 6px
  background: #E23535
  display: flex
  justify-content: center
  align-items: center
  color: #FFFFFF
  font-family: Inter
  font-weight: normal
  font-size: 14px
  line-height: 18px

.image
  width: 300px
  height: 300px
  box-sizing: border-box

.card-content
  padding: 16px 20px 20px 20px
  display: flex
  flex-direction: column
  flex: 1
  box-sizing: border-box
  text-align: left

.card-title, .car-text, .price
  font-family: SF Pro Text
  color: #191919

.card-title
  font-weight: 600
  font-size: 18px
  line-height: 24px
  margin-bottom: 12px
  overflow: hidden //toshib chiqib ketishni ko'rinmas qilib qo'yamiz
  text-overflow: ellipsis //toshib ketganda avtomatik word-break qilayabdi uni o'chirish kerak'
  white-space: nowrap //mana shunday qiib okochiriladi

.car-text
  max-height: 44px
  font-weight: normal
  font-size: 16px
  line-height: 22px
  margin-bottom: 16px
  overflow: hidden //toshib chiqib ketishni ko'rinmas qilib qo'yamiz
  text-overflow: ellipsis //toshib ketganda avtomatik word-break qilayabdi uni o'chirish kerak'
  white-space: normal //mana shunday qiib okochiriladi
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-line-clamp: 2

.price
  font-weight: 600
  font-size: 18px
  line-height: 24px
  color: #FF7010

.card-footer
  display: flex
  justify-content: space-between
  align-items: center