.text-style
  font-family: SF Pro Text, serif
  font-weight: normal
  font-size: 18px
  line-height: 24px
  margin-top: 8px

.card
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 135px
  height: 104px
  background: #FFFFFF
  border: 1px solid #F0F0F0
  box-sizing: border-box
  border-radius: 12px

